@charset "UTF-8";

@use "custom_properties";

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.75;
    color: var(--color-font-normal);
}

img,
picture,
svg {
    max-inline-size: 100%;
    block-size: auto;
    vertical-align: bottom;
}
